.products-type-container {
    display: flex;
    justify-content: center;
    min-height: 60vh;
}

.products-type-grid {
    border-top: 1px solid #999;
    padding: 20px 0;
    margin: 30px 50px 0;
    display: inline-grid;
    grid-gap: 30px;
    justify-items: center;
    grid-template-columns: repeat(4, auto);
}


/* media queries */

@media screen and (max-width: 600px) {
    .products-type-grid {
        grid-template-columns: repeat(2, auto);
        margin: 0;
    }
}
