.user-info-form {
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: center;
}

.user-info-form .form-group {
    padding: 2px 0;
}

.user-info-form .btn-submit {
    text-align: center;
    margin-top: 20px;
}