.main-admin {
    padding: 0 150px;
    margin-top: 20px;
    font-family: 'Assistant', sans-serif;
    text-align: center;
}

.admin-nav-bar ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.admin-nav-bar li {
    margin: 0 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.admin-nav-bar li:hover {
    color: royalblue;
}