.header {
    width: 100vw;
    position: fixed;
    z-index: 1000;
}

.carousel-item1 {
    height: 40px;
    width: 100%;
    background: #7496c5;
    color: #fff;
    font-size: 11px;
    font-family: 'Oswald';
    letter-spacing: 2px;
}

/* media queries */

@media screen and (max-width: 600px) {
    .header {
        position: static;
    }
}