.main {
    height: 200vh;
}

.container-image {
    height: 600px;
    width: 100%;
    background: url('../../images/section-2.jpg') no-repeat center center/cover;
}

.top-sellers-section {
    height: 72vh;
}

.top-sellers-section .sub-title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.top-sellers-section .sub-title h2 {
    font-weight: 400;
}

.top-sellers-container-cards {
    padding: 20px 0;
    margin: 0 50px;
    height: 100%;
}