
.top-sellers-grid {
    height: 100%;
    padding: 40px 200px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 40px;
    justify-content: center;
}

/* media queries */

@media screen and (max-width: 600px) {
    .top-sellers-grid {
        height: auto;
        padding: 0;
        grid-gap: 20px;
        grid-template-columns: repeat(2, auto);
    }
}